<%- include('../../includes/head.ejs') %>
    <main class="main-content">
        <div class="hold">
            <button id="panel-side__btn" type="button" class="btn btn-primary panel-side__btn">
                Menu
            </button>
        </div>
        <div id="panel-side" class="panel-side">
            <h4 class="panel-head">Tester</h4><br>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/app">Test Url</a></li>
                <li><a href="/api-docs">API Documentation</a></li><br>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <button id="close-btn" class="btn btn-primary">Close</button>
        </div>
        <section class="section">
            <div class="container">

                <header class="section-header">
                    <h4>Url Detail</h4>
                </header>

            </div>

            <div class="container text-center" style="margin-top: 30px;">
                <div class="note">
                    <p>Note: { <span class="text-danger">PVPU:</span> 'Page views per user', <span class="text-danger">PVPM:</span> 'Page views per million' }</p>
                </div><br>
                <div class="row">
                    <div class="col-md-12" style="margin: 0 auto; max-width: 500px;">
                        <% if(edit) { %>
                            <form action="/app/urls/<%= info._id %>/edit" method="POST" class="input-line">
                                <div class="form-group input-group">
                                    <div class="input-group-prepend mr-4">
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </div>
                                    <input type="text" class="form-control" name="url" required value="<%= info.url  %>">
                                </div>
                            </form>
                            <% } else{ %>
                                <div class="card d-block shadow-4">

                                    <div class="card-body">
                                        <p><span class="bold">Url:</span>
                                            <%= info.url %>
                                        </p>
                                        <p><span class="bold">Average PVPU:</span>
                                            <%= info.perUser %>
                                        </p>
                                        <p><span class="bold">Page PVPM:</span>
                                            <%= info.perMillion %>
                                        </p>
                                        <div class="btn-group" role="group">
                                            <a href="/app/urls/<%= info._id %>?edit=true" class="btn btn-success">Edit</a>
                                            <a href="/app/urls/<%= info._id %>/delete" class="btn btn-danger">Delete</a>
                                        </div>
                                    </div>
                                    </p>
                                    <!-- <a class="fs-12 fw-600" href="urls/<%= info._id %>">Modify</a> -->
                                </div>
                                <% } %>
                    </div><br>
                </div>
            </div>
        </section>
    </main>
    <%- include('../../includes/footer.ejs') %>